body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  background: #E3E3D8;
  font-family: sans-serif;
  padding: 10px;
  font-size: 16px
}
 
.row {
  display: flex;
  flex-flow: row wrap
}
 
.wrapper {
  width: 625px;
  height: 220px;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper .container .bottom .left {
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}

.left {
  height: 600px
}

.right {
  height: 600px;
}
 
.wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
} 
 
.wrapper .container .bottom .right .details {
  padding: 0;
  font-size: .9em
}
 .wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.Filter  {
  margin: 20px;
display:flex;
justify-content: center;;
align-items:center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding: 10px;
  background-color:#e07b4f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav_element{
  padding: 0 40px 0px 40px;
}

.header_img{
  padding-left: 250px;
}

h1{
  font-size: 30px;
}

.title{
  text-align: center;
  color: #e07b4f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.subtitle{
  font-size: 20px

}

p {
  font-family: Arial, Helvetica, sans-serif;
}

